{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Création{% endblock%}

{% block body %}
    <h2>Formulation du savon</h2>


    {{ form_start(savonForm) }}

    {{ form_widget(savonForm) }}

{#
        <select>
            {% for huile in huiles %}
                <option>{{ huile.nom }}</option>
            {% endfor %}
        </select>
        <label for="masseHuile" id="masseHuile">Masse d'huile : <input id="masseHuile"> grammes</label>
        <button type="button" name="ajouterHuile">Ajouter une huile</button>
        <button type="button" name="calculerSoude">Calculer la soude</button>
#}
    <div>Masse de soude à utiliser : {{ savon.masseSoude }}</div>
    <button type="submit" class="btn-creerSavon">Ajouter le savon</button>
    {{ form_end(savonForm) }}

{% endblock %}